<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobapphome.candroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".client.CAndroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/lanch_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".client.controls.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".client.controls.TouchPadActivity"/>
        <activity
            android:name="com.mobapphome.candroid.client.controls.NeedForSpeedControllerActivity"
            android:label="@string/btn_settings"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".client.controls.SlideShowControllerActivity"
            android:label="@string/btn_slide_show"/>
        <activity
            android:name=".client.controls.SettingsActivity"
            android:label="@string/btn_settings"
            android:parentActivityName=".client.controls.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".client.controls.AboutActivity"
            android:label="@string/btn_about"
            android:screenOrientation="portrait"
            android:parentActivityName=".client.controls.MainActivity"/>

        <receiver
            android:name=".client.ConnectivityActionReceiver"
            android:enabled="true"
            android:label="ConnectivityActionReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>


    </application>


</manifest> 
