<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobapphome.candroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".client.CAndroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/lanch_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".client.controls.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".client.controls.TouchPadActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.mobapphome.candroid.client.controls.NeedForSpeedControllerActivity"
            android:label="@string/txt_need_for_speed"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.ActionBar.Transparent"/>
        <activity
            android:name=".client.controls.SlideShowControllerActivity"
            android:label="@string/txt_slide_show"/>
        <activity
            android:name=".client.controls.SettingsActivity"
            android:label="@string/txt_settings"/>
        <activity
            android:name=".client.controls.AboutActivity"
            android:label="@string/txt_about_title"/>

        <receiver
            android:name=".client.ConnectivityActionReceiver"
            android:enabled="true"
            android:label="ConnectivityActionReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>


    </application>


</manifest> 
